.publication_block {
    text-align: left;
    border-left:3px solid #dbdbdb;
    font-size:18px;
    padding-left: 10px;
}

.publication_block a {
    position:relative;
    font-size:26px;
}

.publication_block a:hover {
    color:#086ada;;
  }

.publication_block a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.publication_block a:hover::after{ 
    transform: scaleX(1);
    transform-origin: bottom left;
}