.research_block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
  }
  
.research_image {
    height: auto;
}
  
.research_text {
    flex: 1;
    margin-left: 20px;
}

.research_text li {
    font-size: 18px;
    margin-left: 10px;
    list-style-type: disc;
 }
  
.dropdown_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
  
.dropdown_button:hover {
    background-color: #45a049;
}
  
.dropdown_content {
    display: none;
    margin-top: 10px;
}