.researcher_position {
    color: #5a5a5a;
}

.researcher_img{
    border-radius: 50%;
    width: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .column{
        flex: 0 100%;
    }
}

.column img{
    max-width: 100%;
    height: auto;
    margin-right: 25px;
}

.researcher_block {
    text-align: left;
    font-size: large;
}

.researcher_block a {
    color: inherit;
    position:relative
}

.researcher_block a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.researcher_block a:hover::after{ 
    transform: scaleX(1);
    transform-origin: bottom left;
}

  